<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="LogoNortek" value=".\\img\\Nortekmed.jpg" />
    <add key="Logo_0" value=".\\img\\Nortekmed.jpg" />
    <add key="Logo_1" value="" />
    <add key="Logo_2" value="" />
    <add key="pos_img" value=".\\img\\FEC002_BUOY.jpg" />
    <add key="ImgDir" value="img\" />
    <add key="TempDir" value="D:\temp" />
    <add key="SiteName" value="LABO-IRIDIUM" />
    <add key="Buoy" value="LABO9620" />
    <add key="Location" value="LABO" />
    <add key="SiteInfo" value="Please log in." />
    <add key="PageOverviewEnable" value="false" />
    <add key="SiteUrl" value="http://nortekmed.dyndns.org/LABO-IRIDIUM" />
    <add key="systemUTCTimeOffset" value="0" />
    <add key="DayOffset" value="0" />
    <add key="UTCdataOffset" value="2" />
    <add key="nb_couche_courant" value="33" />
    <add key="cell_size_courant" value="100" />
    <add key="blancking_courant" value="50" />
    <add key="nb_beam_SIG" value="4" />
    <!--<add key="nb_couche_SIG" value="43" />-->
    <add key="nb_couche_SIG" value="32" />
    <add key="cell_size_SIG" value="100" />
    <add key="blancking_SIG" value="158" />
    <add key="tab_layers" value="" />
    <add key="integration_time_SIG" value="240" />
    <add key="Looking" value="surface" />
    <!--surface ou bottom    -->
    <add key="nb_couche_2D" value="15" />
    <add key="cell_size_2D" value="400" />
    <add key="blancking_2D" value="100" />
    <add key="loginNeeded" value="true" />
    <add key="DownloadEnabled" value="true" />
    <add key="LightEnabled" value="false" />
    <add key="HeaderAtFooter" value="true" />
    <add key="MenuColor" value="#9E001E" />
    <add key="Lat" value="43,14352" />
    <add key="Lng" value="6,039033" />
    <add key="LinkLabel" value="" />
    <add key="Link" value="http://nortekmed.dyndns.org/LABO-IRIDIUM" />
    <add key="PRJ_NAME" value="LABO-Buoy" />
    <add key="WebSiteNortekMed" value="https://www.alize-ocean.com/" />
    <add key="PAGE_SIGCURRENT" value="true" />
    <add key="PAGE_CTD" value="false" />
    <add key="PAGE_WAVESAHRS" value="true" />
    <add key="PAGE_WAVESAHRS_BFHF" value="true" />
    <add key="DB_WAVESAHRS_2021" value="true" />
    <add key="PAGE_WEATHER" value="true" />
    <add key="PAGE_W_VAISSALA" value="true" />
    <add key="VAISSALA_HEIGHT" value="3.55" />
    <add key="INCLUDE_HUM" value="true" />
    <add key="PAGE_W_AIRMAR" value="false" />
    <add key="PAGE_POSITION" value="true" />
    <add key="SENSOR_POSITION" value="true" />
    <add key="PAGE_SPM" value="false" />
    <add key="PAGE_C4E" value="false" />
    <add key="PAGE_OPTOD" value="false" />
    <add key="PAGE_TURBI" value="false" />
    <add key="PAGE_CONTACT" value="true" />
    <add key="Wave_Tps_acq" value="1024" />
    <add key="DECLINATION" value="true" />
  </appSettings>
  <connectionStrings>
    <add connectionString="Server=localhost;User=SYSDBA;Password=masterkey;Charser=NONE;Database=D:/tempsreel/9000_LABO_IRIDIUM/9000_LABO.FDB" name="database1" providerName="FirebirdSql.Data.FirebirdClient" />
    <add connectionString="Server=localhost;User=SYSDBA;Password=masterkey;Charser=NONE;Database=D:/tempsreel/9000_LABO_IRIDIUM/9000_LABO_CLIENTS.FDB" name="database_client" providerName="FirebirdSql.Data.FirebirdClient" />
  </connectionStrings>
  <!--
    Pour obtenir une description des modifications de web.config, voir http://go.microsoft.com/fwlink/?LinkId=235367.

    Les attributs suivants peuvent être définis dans la balise <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <!--<system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>-->
  <system.web>
    <machineKey validationKey="5533B5B116101E2620ED9F87A8DD3DB0456BC29031A62ED26251518DE620E7118A9943341AEDEA36E35C7E374553F2F93A0F43F1BE61FE4717246AF15C549737" decryptionKey="B68191FE6ACF945B33BB0D101DD892120B531C1B803FB0300D96F822ED7F19E2" validation="SHA1" decryption="AES" compatibilityMode="Framework20SP1" />
    <globalization uiCulture="en" />
    <!--<globalization enableClientBasedCulture="true" culture="fr-FR" uiCulture="fr" requestEncoding="windows-1256" responseEncoding="windows-1256" fileEncoding="windows-1256"/>-->
    <!--<globalization uiCulture="fr" culture="fr-FR" />-->
    <customErrors mode="Off" />
    <compilation targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <membership />
    <authentication mode="Forms">
      <forms loginUrl="~/Register/Login" timeout="10" />
      <!--<forms name=".ASPXAUTH" loginUrl="~/Register/Login" timeout="10" slidingExpiration="true" domain="localhost" />-->
    </authentication>
    <profile />
    <roleManager />
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FirebirdSql.Data.FirebirdClient" publicKeyToken="3750abcc3150b00c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="FirebirdSql.Data.EntityFramework6.FbConnectionFactory, EntityFramework.Firebird" />
    <providers>
      <provider invariantName="FirebirdSql.Data.FirebirdClient" type="FirebirdSql.Data.EntityFramework6.FbProviderServices, EntityFramework.Firebird" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="100000000" />
      </webServices>
    </scripting>
  </system.web.extensions>

</configuration>
<!--ProjectGuid: 209d877b-7a7a-4ca5-b67b-bdc24406c5ca-->