<?xml version="1.0" encoding="utf-8"?>

<!-- Pour plus d'informations sur l'utilisation de la transformation web.config, visitez https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="LogoNortek" value=".\\img\\Nortekmed.jpg" />
    <add key="Logo_0" value=".\\img\\LOGO-FEC.png" />
    <add key="Logo_1" value="" />
    <add key="Logo_2" value="" />
    <add key="pos_img" value=".\\img\\FEC002_BUOY.jpg" />
    <add key="ImgDir" value="img\" />
    <add key="TempDir" value="D:\temp" />
    <add key="SiteName" value="FECAMP SOUTH" />
    <add key="Buoy" value="BA012" />
    <add key="Location" value="SOUTH" />
    <add key="SiteInfo" value="Please log in." />
    <add key="PageOverviewEnable" value="false" />
    <add key="SiteUrl" value="http://nortekmed.dyndns.org/FEC002-BUOY" />
    <add key="systemUTCTimeOffset" value="0" />
    <add key="DayOffset" value="0" />
    <add key="UTCdataOffset" value="1" />
    <add key="nb_couche_courant" value="33" />
    <add key="cell_size_courant" value="100" />
    <add key="blancking_courant" value="50" />
    <add key="nb_beam_SIG" value="4" />
    <!--<add key="nb_couche_SIG" value="43" />-->
    <add key="nb_couche_SIG" value="32" />
    <add key="cell_size_SIG" value="100" />
    <add key="blancking_SIG" value="158" />
    <add key="tab_layers" value="1;2;3;4;5;6;7;8;10;12;14;16;18;20;22;24;26;28;30;32;" />
    <add key="integration_time_SIG" value="240" />
    <add key="Looking" value="surface" />    <!--surface ou bottom    -->
    <add key="nb_couche_2D" value="15" />
    <add key="cell_size_2D" value="400" />
    <add key="blancking_2D" value="100" />
    <add key="loginNeeded" value="true" />
    <add key="DownloadEnabled" value="true" />
    <add key="LightEnabled" value="false" />
    <add key="HeaderAtFooter" value="true" />
    <add key="MenuColor" value="#9E001E" />
    <add key="Lat" value="49,84805" />
    <add key="Lng" value="0,253133" />
    <add key="LinkLabel" value="FEC-001 website" />
    <add key="Link" value="http://nortekmed.dyndns.org/FEC_NORD_BA011" />
    <add key="PRJ_NAME" value="FEC-Buoy" />
    <add key="WebSiteNortekMed" value="https://www.alize-ocean.com/" />
    <add key="PAGE_SIGCURRENT" value="true" />
    <add key="PAGE_CTD" value="false" />
    <add key="PAGE_WAVESAHRS" value="true" />
    <add key="PAGE_WAVESAHRS_BFHF" value="false" />
    <add key="DB_WAVESAHRS_2021" value="true" />
    <add key="PAGE_WEATHER" value="true" />
    <add key="PAGE_W_VAISSALA" value="true" />
    <add key="INCLUDE_HUM" value="false" />
    <add key="PAGE_W_AIRMAR" value="false" />
    <add key="PAGE_POSITION" value="true" />
    <add key="SENSOR_POSITION" value="true" />
    <add key="PAGE_SPM" value="false" />
    <add key="PAGE_C4E" value="false" />
    <add key="PAGE_OPTOD" value="false" />
    <add key="PAGE_TURBI" value="false" />
    <add key="PAGE_CONTACT" value="true" />
    <add key="Wave_Tps_acq" value="1024" />
    <add key="DECLINATION" value="true" />
  </appSettings>

  <connectionStrings xdt:Transform="Replace">
    <add connectionString="Server=localhost;User=SYSDBA;Password=masterkey;Charser=NONE;Database=D:\tempsreel\1728_FEC_EDF_deploy\1728_EDF_FEC_TEST.FDB" name="database1" providerName="FirebirdSql.Data.FirebirdClient" />
    <add connectionString="Server=localhost;User=SYSDBA;Password=masterkey;Charser=NONE;Database=D:\tempsreel\1728_FEC_EDF_deploy\1728_FEC_EDF_CLIENTS.FDB" name="database_client" providerName="FirebirdSql.Data.FirebirdClient" />
  </connectionStrings>

  <compilation xdt:Transform="Replace" targetFramework="4.5" debug="true"/>
  <!--<add key="debug" value="true" />-->
  <!--
    Dans l'exemple ci-dessous, la transformation "SetAttributes" changera la valeur de 
    "connectionString" afin d'utiliser "ReleaseSQLServer" uniquement lorsque le localisateur "Match" 
    trouve un attribut "name" qui a une valeur "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      
      Dans l'exemple ci-dessous, la transformation "Replace" remplacera toute la section 
      <customErrors>  de votre fichier web.config.
      Dans la mesure où il n'y a qu'une section customErrors sous le 
      nœud <system.web>, il n'est pas nécessaire d'utiliser l'attribut "xdt:Locator".
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>