<?xml version="1.0" encoding="utf-8"?>

<!-- Pour plus d'informations sur l'utilisation de la transformation web.config, visitez https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="ImgDir" value="img\" />
    <add key="TempDir" value="D:\temp" />
    <add key="SiteName" value="GPMM" />
    <add key="SiteInfo" value="GPMM mesures . Veuillez vous identifier pour accéder aux mesures." />
    <add key="PageOverviewEnable" value="false" />
    <add key="SiteUrl" value="http://nortekmed.dyndns.org/GPMM" />
    <add key="systemUTCTimeOffset" value="1" />
    <add key="DayOffset" value="0" />
    <add key="UTCdataOffset" value="0" />
    <add key="nb_couche_1" value="20" />
    <add key="cell_size_1" value="100" />
    <add key="blancking_1" value="50" />
    <add key="loginNeeded" value="true" />
    <add key="DownloadEnabled" value="true" />
    <add key="WebSiteNortekMed" value="http://www.nortekmed.com/fr?set_language=fr" />
  </appSettings>
  
  <connectionStrings xdt:Transform="Replace">
    <add connectionString="Server=localhost;User=SYSDBA;Password=masterkey;Charser=NONE;Database=D:\tempsreel\1642_MARSEILLE_GPMM_deploy\1642_GPMM_AWAC_0.FDB" name="database1" providerName="FirebirdSql.Data.FirebirdClient" />
    <add connectionString="Server=localhost;User=SYSDBA;Password=masterkey;Charser=NONE;Database=D:\tempsreel\1642_MARSEILLE_GPMM_deploy\1642_GPMM_AWAC_1.FDB" name="database2" providerName="FirebirdSql.Data.FirebirdClient" />
    <add connectionString="Server=localhost;User=SYSDBA;Password=masterkey;Charser=NONE;Database=D:\tempsreel\1642_MARSEILLE_GPMM_deploy\1642_GPMM_AWAC_2D.FDB" name="database3" providerName="FirebirdSql.Data.FirebirdClient" />
    <add connectionString="Server=localhost;User=SYSDBA;Password=masterkey;Charser=NONE;Database=D:\tempsreel\1642_MARSEILLE_GPMM_deploy\1526_GPMM_CLIENTS.FDB" name="database_client" providerName="FirebirdSql.Data.FirebirdClient" />
  </connectionStrings>
  
  <!--
    Dans l'exemple ci-dessous, la transformation "SetAttributes" changera la valeur de 
    "connectionString" afin d'utiliser "ReleaseSQLServer" uniquement lorsque le localisateur "Match" 
    trouve un attribut "name" qui a une valeur "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      
      Dans l'exemple ci-dessous, la transformation "Replace" remplacera toute la section 
      <customErrors>  de votre fichier web.config.
      Dans la mesure où il n'y a qu'une section customErrors sous le 
      nœud <system.web>, il n'est pas nécessaire d'utiliser l'attribut "xdt:Locator".
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>